---
layout: default-home
---

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <img class="img-fluid mb-4" src="img/logo.png" />
      <div class="mt-4">
        <a class="btn btn-primary btn-xl text-uppercase" href="properties.html">New Listings</a>
      </div>
    </div>
  </div>
</header>

<section class="feature page-section">
  <div class="container">
    <div class="row justify-content-center">
      {% for property in site.properties %}
      {% if property.isfeatured %}
      <div class="col-lg-4 col-md-6 feature-item">
        <div class="card feature-item">
          <a class="feature-link" href="{{ property.url }}">
            <div class="feature-hover">
              <div class="feature-details">
                <p>{{ property.address1 }}</p>
                <p>{{ property.address2 }}</p>
                <p>{{ property.price }}</p>
                <p>{{ property.shortdesc }}</p>
              </div>
            </div>
            {% capture ipath %}{{ property.gallery }}{% endcapture %}
            {% for image in site.static_files %}
            {% if image.path contains ipath %}
            <img class="feature-img" src="{{ site.baseurl }}{{ image.path }}" alt="Property Image" />
            {% break %}
            {% endif %}
            {% endfor %}
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-light page-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <img src="img/about.jpg" class="img-fluid" alt="About" />
      </div>
      <div class="col-12 col-lg-8 text-center">
        <h2 class="section-heading text-uppercase mt-4">About</h2>
        <p>Aspect Realty is a full-service firm for commercial, residential, and investment advisory firm located in
          the Vail Valley. Our firm specializes in acquisitions, dispositions, leasing of office, industrial, retail,
          land, and multifamily properties in mountain communites. We provide high caliber services to owners,
          investors, and tenants, delivered with focused and specialized details for the unique factors that can be
          attributed with mountain resort communities. </p>
      </div>
    </div>
  </div>
</section>