---
layout: default
---

<!-- For Lease Content -->
<section class="portfolio page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Listings</h2>
            </div>
        </div>
        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-commercial-lease-tab" data-toggle="pill"
                    href="#pills-commercial-lease" role="tab" aria-controls="pills-commercial-lease"
                    aria-selected="true">Commercial For Lease</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-commercial-sale-tab" data-toggle="pill" href="#pills-commercial-sale"
                    role="tab" aria-controls="pills-commercial-sale" aria-selected="false">Commercial For Sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-residential-tab" data-toggle="pill" href="#pills-residential" role="tab"
                    aria-controls="pills-residential" aria-selected="false">Residential</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-prior-tab" data-toggle="pill" href="#pills-prior" role="tab"
                    aria-controls="pills-prior" aria-selected="false">Prior Transactions</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-commercial-lease" role="tabpanel"
                aria-labelledby="pills-commercial-lease-tab">
                <div class="row justify-content-center">

                    {% for property in site.properties %}
                    {% if property.iscommerciallease %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="card">
                            <a class="portfolio-link" href="{{ property.url }}">
                                <div class="portfolio-hover">
                                </div>
                                {% capture ipath %}{{ property.gallery }}{% endcapture %}

                                {% for image in site.static_files %}
                                {% if image.path contains ipath %}
                                <img class="portfolio-img" src="{{ site.baseurl }}{{ image.path }}"
                                    alt="Real Estate Image" />
                                {% break %}
                                {% endif %}
                                {% endfor %}
                            </a>
                            <div class="portfolio-caption">
                                <h6 class="text-uppercase">FOR LEASE</h6>
                                <p>{{ property.address1 }}</p>
                                <p>{{ property.address2 }}</p>
                                <p>{{ property.sqft }} Sq Ft</p>
                                <a href="{{ property.url }}">More Details</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="tab-pane fade" id="pills-commercial-sale" role="tabpanel"
                aria-labelledby="pills-commercial-sale-tab">
                <div class="row justify-content-center">

                    {% for property in site.properties %}
                    {% if property.iscommercialsale %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="card">
                            <a class="portfolio-link" href="{{ property.url }}">
                                <div class="portfolio-hover">
                                </div>
                                {% capture ipath %}{{ property.gallery }}{% endcapture %}

                                {% for image in site.static_files %}
                                {% if image.path contains ipath %}
                                <img class="portfolio-img" src="{{ site.baseurl }}{{ image.path }}"
                                    alt="Real Estate Image" />
                                {% break %}
                                {% endif %}
                                {% endfor %}
                            </a>
                            <div class="portfolio-caption">
                                <h6 class="text-uppercase">FOR SALE</h6>
                                <p>{{ property.address1 }}</p>
                                <p>{{ property.address2 }}</p>
                                <p>{{ property.sqft }} Sq Ft</p>
                                <a href="{{ property.url }}">More Details</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="tab-pane fade" id="pills-residential" role="tabpanel" aria-labelledby="pills-residential-tab">
                <div class="row justify-content-center">

                    {% for property in site.properties %}
                    {% if property.isresidential %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="card">
                            <a class="portfolio-link" href="{{ property.url }}">
                                <div class="portfolio-hover">
                                </div>
                                {% capture ipath %}{{ property.gallery }}{% endcapture %}

                                {% for image in site.static_files %}
                                {% if image.path contains ipath %}
                                <img class="portfolio-img" src="{{ site.baseurl }}{{ image.path }}"
                                    alt="Real Estate Image" />
                                {% break %}
                                {% endif %}
                                {% endfor %}
                            </a>
                            <div class="portfolio-caption">
                                <h6 class="text-uppercase">{{ property.saletype }}</h6>
                                <p>{{ property.address1 }}</p>
                                <p>{{ property.address2 }}</p>
                                <p>{{ property.sqft }} Sq Ft</p>
                                <a href="{{ property.url }}">More Details</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="tab-pane fade" id="pills-prior" role="tabpanel" aria-labelledby="pills-prior-tab">
                <div class="row justify-content-center">

                    {% for property in site.properties %}
                    {% if property.isprior %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="card">
                            <div class="portfolio-link">
                                <div class="portfolio-hover">
                                </div>
                                {% capture ipath %}{{ property.gallery }}{% endcapture %}

                                {% for image in site.static_files %}
                                {% if image.path contains ipath %}
                                <img class="portfolio-img" src="{{ site.baseurl }}{{ image.path }}" alt="Property Image" />
                                {% break %}
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="portfolio-caption">
                                <h6 class="text-uppercase">{{ property.saletype }}</h4>
                                    <p>{{ property.saledate }}</p>
                                    <p>{{ property.price }}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- For Lease Content -->