// Styling for the masthead
.masthead {
  text-align: center;
  justify-content: center;
  color: black;
  background-color: #84aec2;
  background-image: url('../img/header-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh;
  min-height: 600px;
  .intro-text {
    padding-top: 25vh;
  }
}