<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Real Estate">
    <link rel="shortcut icon" href="{{ base.url | prepend: site.url }}/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ base.url | prepend: site.url }}/img/favicon.ico" type="image/x-icon">

    <title>Aspect Realty</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ base.url | prepend: site.url }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ base.url | prepend: site.url }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ base.url | prepend: site.url }}/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ base.url | prepend: site.url }}/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ base.url | prepend: site.url }}/css/owl.theme.default.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ base.url | prepend: site.url }}/css/agency.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-right" href="{{ base.url | prepend: site.url }}/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-right" href="{{ base.url | prepend: site.url }}/properties.html">Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-right" href="{{ base.url | prepend: site.url }}/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{ content }}

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <h4>ASPECT REALTY</h4>
                    <p>Real Estate Advisory Services</p>
                    <p>Serving the Vail Valley and surrounding mountain communities</p>
                    <p>Commercial and Residential</p>
                </div>
                <div class="col-sm-6">
                    <h4>CONTACT</h4>
                    <p>1115 Chambers Ave. Unit A102 Eagle CO 81631</p>
                    <p>Phone : <a href="tel://9708290577">(970) 829-0577</a></p>
                    <p>Email : <a href="mailto:jfish@aspectrealtyco.com">jfish@aspectrealtyco.com</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ base.url | prepend: site.url }}/vendor/jquery/jquery.min.js"></script>
    <script src="{{ base.url | prepend: site.url }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ base.url | prepend: site.url }}/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="{{ base.url | prepend: site.url }}/js/jqBootstrapValidation.js"></script>
    <script src="{{ base.url | prepend: site.url }}/js/contact_me.js"></script>

    <script src="{{ base.url | prepend: site.url }}/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ base.url | prepend: site.url }}/js/owl.carousel.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ base.url | prepend: site.url }}/js/agency.min.js"></script>

</body>

</html>