---
layout: default
---

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="mb-3">
                    <h1>{{ page.address1 }}</h1>
                    <p class="text-uppercase">{{ page.shortdesc }}</h3>
                </div>

                <!-- Image Slider -->
                <div class="mb-4">
                    <div class="slide-one-item home-slider owl-carousel">

                        {% capture ipath %}{{ page.gallery }}{% endcapture %}

                        {% for image in site.static_files %}
                        {% if image.path contains ipath %}
                        <img class="img-fluid" src="{{ site.baseurl }}{{ image.path }}" alt="Real Estate Image" />
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>

                <!-- Property Info -->
                <div class="row mb-5">
                    <div class="col-sm-6">
                        <h6 class="text-black">Sq Ft</h6>
                        <p>{{ page.sqft }} Sq Ft</p>
                        <h6 class="text-black">Price</h6>
                        <p>{{ page.price }}</p>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="text-black">Term</h6>
                        <p>{{ page.term }}</p>
                        <h6 class="text-black">CAM & RE Tax</h6>
                        <p>{{ page.camretax }}</p>
                    </div>
                    <div class="col-12">
                        <h3 class="text-black">Description</h3>
                        <p>{{ page.desc }}</p>
                    </div>
                </div>

                <!-- Google Map -->
                <iframe width="100%" height="400" frameborder="0" style="border:0" src="{{ page.mapurl }}"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-4">
                <div class="team-member mb-0">
                    <h3 class="text-black mb-4">Contact Broker</h3>
                    <img src="{{ base.url | prepend: site.url }}/img/team/2.jpg" alt="Broker Headshot" class="img-fluid rounded-circle">
                    <h4>Jason Fish</h4>
                    <p class="text-muted">970-300-1415</p>
                    <p class="text-muted">jfish@aspectrealtyco.com</p>
                </div>
            </div>
        </div>
    </div>
</section>